.feed{
    border-right: 2px #27323C solid;
    .feed-wrapper{
        header{
            margin-top: 2.5%;
            border-bottom: 10px #27323C solid;
            .wrapper{
                border-bottom: 1px #27323C solid;
                margin-bottom: 2.5%;
                display: flex;
                justify-content: space-between;
                span{
                    font-size: 120%;
                    font-weight: 800;
                    margin: 0 0% 0 3%;
                    vertical-align: top;
                }
                .sparks{
                    cursor: pointer;
                    margin:0 2% 2% 0;
                    width: 25px;
                    height: 25px;
                    transition: 0.2s ease-in;
                }
            }
            .user-input{
                display: flex;
                margin-left: 2.5%;
                .avatar{
                    border-radius: 3em;
                    width: 50px;
                    height: 50px;
                }
                .input{
                    display: flex;
                    flex-direction: column;
                    margin-left: 2%;
                    ::placeholder{
                        color: #9197A3;
                    }
                    input{
                        outline: none;
                        border: none;
                        padding: 5% 5% 10% 0;
                        font-size: 115%;
                    }
                    .input-buttons{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 5%;
                        img{
                            cursor: pointer;
                            width: 23px;
                            height: 23px;
                            margin-right: 5%;
                            transition: 0.1s ease-in;
                        }
                        button{
                            cursor: pointer;
                            font-weight: 700;
                            border: none;
                            font-size: 100%;
                            letter-spacing: 1px;
                            width: 9em;
                            height: 2.25em;
                            position: relative;
                            padding: 0 8% 0 8%;
                            outline: none;
                            border-radius: 2em;
                            background-color: #1da1f2;
                            color: snow;
                            transition: 0.2s ease-in;
                            &:hover{
                                background-color: #248ecf;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1080px){
    .input-buttons{  
        button{
            margin-left: 10%;
        }
    }
}

@media (max-width: 900px){
    .feed{
        .feed-wrapper{
            header{
                .user-input{
                    .input{
                        .input-buttons{
                            button{
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }   
}

@media (max-width:450px){
    .feed{
        .feed-wrapper{
            header{
                .wrapper{
                    display: flex;
                    span{
                        margin: 0 70% 0 3%;
                    }
                }
                .user-input{
                    display: flex;
                    margin-left: 2.5%;
                    .avatar{
                        border-radius: 3em;
                        width: 45px;
                        height: 45px;
                    }
                    .input{
                        display: flex;
                        flex-direction: column;
                        margin-left: 4%;
                        ::placeholder{
                            color: #9197A3;
                        }
                        input{
                            outline: none;
                            border: none;
                            padding: 5% 5% 10% 0;
                            font-size: 115%;
                        }
                        .input-buttons{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 5%;
                            img{
                                cursor: pointer;
                                width: 21px;
                                height: 21px;
                                margin-right: 5%;
                                transition: 0.1s ease-in;
                            }
                            button{
                                font-weight: 500;
                                font-size: 80%;
                                width: 5em;
                                height: 2em;
                                padding: 0 8% 0 8%;
                                margin-left: 25%;
                            }
                        }
                    }
                }
            }
        }
    }    
}