.feed{
    border-right: 2px #27323C solid;
    .feed-wrapper{
        header{
            margin-top: 2.5%;
            border-bottom: 10px #27323C solid;
            .wrapper{
                border-bottom: 1px #27323C solid;
                margin-bottom: 2.5%;
                span{
                    font-size: 120%;
                    font-weight: 800;
                    margin: 0 81% 0 3%;
                    vertical-align: top;
                }
                .sparks{
                    cursor: pointer;
                    margin-bottom: 2%;
                    width: 25px;
                    height: 25px;
                    transition: 0.2s ease-in;
                    &:hover{
                        border-radius: 9999px;
                        padding: 0.5%;
                        background-color: #45a0d85d;
                    }
                }
            }
            .user-input{
                display: flex;
                margin-left: 2.5%;
                .avatar{
                    border-radius: 3em;
                    width: 50px;
                    height: 50px;
                }
                .input{
                    display: flex;
                    flex-direction: column;
                    margin-left: 2%;
                    ::placeholder{
                        color: #9197A3;
                    }
                    input{
                        outline: none;
                        border: none;
                        padding: 5% 5% 10% 0;
                        font-size: 115%;
                    }
                    .input-buttons{
                        display: flex;
                        align-items: center;
                        margin-bottom: 5%;
                        img{
                            cursor: pointer;
                            width: 23px;
                            height: 23px;
                            margin-right: 5%;
                            transition: 0.1s ease-in;
                            &:hover{
                                padding: 0.5%;
                                border-radius: 9999px;
                                background-color: #45a0d85d;
                            }
                        }
                        button{
                            cursor: pointer;
                            font-weight: 700;
                            border: none;
                            font-size: 100%;
                            letter-spacing: 1px;
                            width: 9em;
                            height: 2.25em;
                            outline: none;
                            border-radius: 2em;
                            background-color: #1da1f2;
                            color: snow;
                            transition: 0.2s ease-in;
                            &:hover{
                                background-color: #248ecf;
                            }
                        }
                    }
                }
            }
        }
    }
}