.tuit{
    .article{
        border-bottom: 2px #27323C solid;
        .post-info{
            .poster-info{   
                display:flex;
                margin: 2% 0 0 2.5%;
                .avatar{
                    border-radius: 2em;;
                    width: 45px;
                    height: 45px;
                }
                .who-when-what{
                    margin-left: 2%;
                    width: 100%;
                    cursor: pointer;
                    span{
                        margin-right: 1%;
                    }
                    .name{
                        font-weight: 700;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .username{
                        color: #9197A3;
                        font-size: 95%;
                    }
                    .when{
                        color: #9197A3;
                        font-size: 95%;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .content{
                        .tuit-content{
                            white-space: pre-line
                        }
                        .tuit-buttons{
                            display: flex;
                            justify-content: space-between;
                            margin: 2% 20% 2% 0;
                            img{
                                cursor: pointer;
                                width: 25px;
                                transition: 0.2s ease-in;
                                height: 20px;
                                &:hover{
                                    fill: #1A91DA;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
