.side-bar{
    border-right: 2px solid #27323C;
    .nav-bar{
        display: flex;
        flex-direction: column;
        margin: 4% 0 0 19%;
        .logo{
            img{
                width: 33px;
                height: 39px; 
            }      
        }
        .buttons{
            display: flex;
            flex-direction: column;
            width: 80%;
            button{
                text-align: left;
                font-size: 120%;
                font-weight: 700;
                border: none;
                outline: none;
                margin-top: 6%;
                cursor: pointer;
                padding:2.5% 2.5% 2.5% 5%;
                &:hover{
                    color: #1A91DA;
                    border-radius: 9999px;
                    background-color:#162D40;
                    span{
                        width: 115%;
                        color: #1A91DA;
                        border-radius: 9999px;
                        background-color: #162D40;

                    }
                    img{
                        color: #1A91DA;
                        border-radius: 9999px;
                        background-color: #162D40;     
                    }
                }
                span{
                    margin-left: 10%;
                    vertical-align: super;
                }
            }
        }
        .tuit-button{
            cursor: pointer;
            margin: 10% 0 55% 0;
            font-weight: 700;
            border: none;
            font-size: 104%;
            letter-spacing: 1px;
            width: 80%;
            height: 45px;
            outline: none;
            border-radius: 2em;
            background-color: #1da1f2;
            color: snow;
            transition: 0.2s ease-in;
            padding: 1%;
            &:hover{
                background-color: rgb(36, 142, 207);
            }
        }
    }
}

img{
    width: 25px;
    height: 29px;
}

@media (max-width: 1100px){
    .side-bar{
        border-right: 2px solid #27323C;
        .nav-bar{
            display: flex;
            flex-direction: column;
            margin: 4% 0 0 19%;
            .buttons{
                display: flex;
                flex-direction: column;
                width: 80%;
                button{
                    text-align: left;
                    font-size: 105%;
                    font-weight: 700;
                    }
                }
            }
            .tuit-button{
                font-weight: 500;
                font-size: 104%;
                letter-spacing: 1px;
                width: 80%;
                height: 45px;
                outline: none;
                border-radius: 2em;
            }
        }
    }

@media (max-width: 950px){
    .side-bar{
        .nav-bar{
            .buttons{
                button{
                    margin-top: 10%;
                }
            }
        }
    }
    img{
        width: 25px;
        height: 25px;
    }
    span{
        font-size: 100%;
    }
}

@media (max-width: 750px){
.side-bar{
    .nav-bar{
        margin-top: 15%;
        .buttons{
                display: flex;
                flex-direction: column;
                width: 75%;
                button{
                    text-align: center;
                    margin: 25% 0 25% 0;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
}
