.side-bar{
    border-right: 2px solid #27323C;
    .nav-bar{
        display: flex;
        flex-direction: column;
        margin: 4% 0 0 19%;
        .logo{
            img{
                width: 33px;
                height: 39px; 
            }      
        }
        .buttons{
            display: flex;
            flex-direction: column;
            width: 60%;
            button{
                text-align: left;
                font-size: 120%;
                font-weight: 700;
                border: none;
                outline: none;
                margin-top: 13%;
                cursor: pointer;
                &:hover{
                    color: #1A91DA;
                    border-radius: 9999px;
                    background-color:#162D40;
                    span{
                        color: #1A91DA;
                        border-radius: 9999px;
                        background-color: #162D40;

                    }
                    img{
                        color: #1A91DA;
                        border-radius: 9999px;
                        padding-left: 1%;
                        background-color: #162D40;     
                    }
                }
                span{
                    margin-left: 12%;
                    vertical-align: super;
                }
                img{
                    transition: 0.1s ease-in;
                }
            }
        }
        .tuit-button{
            cursor: pointer;
            margin: 10% 0 55% 0;
            font-weight: 700;
            border: none;
            font-size: 104%;
            letter-spacing: 1px;
            width: 80%;
            height: 45px;
            outline: none;
            border-radius: 2em;
            background-color: #1da1f2;
            color: snow;
            transition: 0.2s ease-in;
            padding: 1%;
            &:hover{
                background-color: rgb(36, 142, 207);
            }
        }
    }
}

img{
    width: 25px;
    height: 29px;
}