* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #15202B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: snow;
}

.app{
    display: grid;
    grid-template-columns: 25% 45% 30%;
}

@media (max-width: 450px){
    .app{
        display: block;
    }
    .side-bar{
        display: none;
    }
    .trending{
        display: none;
    }
}